@use 'components/constants.module.scss';

.toc, .left {
  position: absolute;
  width: 100%;
  padding: 2vmin 4vmin;
  box-sizing: border-box;
  pointer-events: all;
  height: 100%;
}

.toc {
  font-size: 4vmin;
}

h2 {
  text-align: center;
  width: 100%;
}

.toc a {
  text-decoration: none;
  color: inherit;
}

.toc a:hover::after {
  content: '✎';
  padding-left: 1vmin;
}

.toc ol {
  list-style-type: none;
  padding-left: 0;
}

.toc li.disabled {
  pointer-events: none;
  color: #AAA;
}

.left {
  padding: 5vmin;
}

.instructions {
  font-size: 1.5vmin;
  position: absolute;
  width: 80%;
  height: 100%;
  box-sizing: border-box;
  transform-origin: center;
  transform: rotate(3deg);
  flex: 1;
  filter: grayscale(.8);
  color: #555,
}

.instructions * {
  font-family: cursive;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

.credits {
  font-size: 1.5vmin;
  position: absolute;
  bottom: 3vmin;
  width: 100%;
}

.credits * {
  font-family: monospace;
}

.card {
  width: constants.$cardWidth;
  height: constants.$cardHeight;
}
