@use 'components/constants.module.scss';

.scenery {
  width: 100%;
  transform-origin: bottom;
  transform: rotateX(0);
  transition-property: transform;
  overflow: hidden;
}

.scenery.up {
  transform: rotateX(constants.$tableTiltCorrectionAngle);
  transition-duration: constants.$popupDuration;
  transition-timing-function: constants.$popupTimingFunction;
}

.scenery.down {
  transform: rotateX(0);
  transition-duration: constants.$popdownDuration;
  transition-timing-function: constants.$popdownTimingFunction;
}

.flip {
  display: inline-block;
  transform: scaleX(-1);
  transform-origin: center;
}