body, #app {
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100%;
}

body {
    background-color: black;
}

* {
    transform-style: preserve-3d;
    perspective: inherit;
    perspective-origin: inherit;
}