body, #app {
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100%;
}

body {
    background-color: black;
}

* {
    user-select: none;
    will-change: transform;
    font-family: "Charm", fantasy, sans-serif;
}

@font-face {
    font-family: "Charm";
    src: local('Charm Regular'), url("./res/fonts/charm/Charm-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Charm";
    font-weight: bold;
    src: local('Charm Bold'), url("./res/fonts/charm/Charm-Bold.ttf") format("truetype");
}