@use 'components/constants.module.scss';

.drag {
  position: absolute;
  width: constants.$cardWidth;
  height: constants.$cardHeight;
  margin-left: calc(constants.$cardWidth/-2);
  margin-top: calc(constants.$cardHeight * -1);
}

.scale-up { 
  transform: scale(2.5);
}