@use '../card/card.module.scss';

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: start;
  height: calc(cardHeight * 2.5);
  gap: 2%;
}

.target-card {
  width: cardWidth;
  height: cardHeight;
}

.target-card.bordered {
  border: .1vw solid #422;
  border-radius: cardBorderRadius;
}

.target-card.none {
  cursor: default;
}

.target-card.draggable {
  cursor: grab;
}

.target-card.dragging {
  cursor: grabbing;
}

.target-card.clickable {
  cursor: pointer;
}

.target-card.immovable {
  cursor: not-allowed;
}

.target-card.no-drop {
  cursor: no-drop;
}

.target-card.drop {
  cursor: pointer;
}

.target-card.long-press {
  cursor: pointer;
}

.target-card.long-pressing {
  cursor: grabbing;
}

.played-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: start;
}

.played-card {
  margin-bottom: calc(-.75 * cardHeight);
}
