.entity {
  transform-origin: center;
}

.entity.hidden {
  visibility: hidden;
}

.inner.flipX {
  transform: scaleX(-1);
}

.entity.idle {
  animation-name: idleAnimation;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  transform-origin: bottom;
}

@keyframes idleAnimation {
  from {
    transform: scaleY(1);
  }

  to {
    transform: scaleY(1.05);
  }
}

.entity.appear {
  animation-name: appearAnimation;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
  animation-duration: 200ms;
}

.entity.appear.reverse {
  animation-direction: reverse;
}

@keyframes appearAnimation {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

.entity.attack {
  animation-name: attackAnimation;
  animation-timing-function: ease-in;
  animation-direction: alternate;
  animation-duration: 150ms;
  animation-iteration-count: 2;
}

@keyframes attackAnimation {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(20%);
  }
}

.entity.die {
  animation-name: dieAnimation;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  animation-duration: 800ms;
}

@keyframes dieAnimation {
  from {
    transform: translateY(0);
  }

  33% {
    transform: translateY(-10%);
  }

  66% {
    transform: translateY(-10%) rotate(180deg);
  }

  to {
    transform: translateY(100%) rotate(180deg);
  }
}

.entity.block {
  animation-name: blockAnimation;
  animation-direction: alternate;
  animation-timing-function: ease-out;
  animation-iteration-count: 2;
  animation-duration: 300ms;
}

@keyframes blockAnimation {
  from {
    transform: scaleX(1);
  }

  to {
    transform: scaleX(.8) rotate(10deg);
  }
}

.entity.special {
  animation-name: specialAnimation;
  animation-direction: alternate;
  animation-timing-function: ease-out;
  animation-iteration-count: 2;
  animation-duration: 300ms;
}

@keyframes specialAnimation {
  from {
    transform: translateY(0);
  }

  20% {
    transform: translateY(0) scaleY(.9);
  }

  to {
    transform: translateY(-3vmin) scaleY(1.1);
  }
}
