.entity {
  transform-origin: center;
}

.entity.hidden {
  visibility: hidden;
}

.inner.flipX {
  transform: scaleX(-1);
}

.entity.idle {
  animation-name: idleAnimation;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  transform-origin: bottom;
}

@keyframes idleAnimation {
  from {
    transform: scaleY(1);
  }

  to {
    transform: scaleY(1.05);
  }
}

.entity.appear {
  animation-name: appearAnimation;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
  animation-duration: 200ms;
}

.entity.appear.reverse {
  animation-direction: reverse;
}

@keyframes appearAnimation {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

.entity.attack {
  animation-name: attackAnimation;
  animation-timing-function: ease-in-out;
  animation-duration: 300ms;
  transform-origin: bottom;
}

@keyframes attackAnimation {
  from {
    transform: rotateX(0) scale(1, 1);
  }

  25% {
    transform: rotate(10deg) rotateX(0) scale(1.2, .8);

  }

  50% {
    transform: rotate(-20deg) rotateX(45) scale(.8, 1.3);
  }

  to {
    transform: rotateX(0) scale(1, 1);
  }
}

.entity.die {
  animation-name: dieAnimation;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  animation-duration: 800ms;
}

@keyframes dieAnimation {
  from {
    transform: translateY(0);
  }

  33% {
    transform: translateY(-10%);
  }

  66% {
    transform: translateY(-10%) rotate(180deg);
  }

  to {
    transform: translateY(100%) rotate(180deg);
  }
}

.entity.block {
  animation-name: blockAnimation;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-duration: 300ms;
  transform-origin: bottom;
}

@keyframes blockAnimation {
  from {
    transform: translate(0, 0) scale(1, 1);
  }

  30% {
    transform: translate(-5vmin, 0) scale(0.8, 1.2);
  }

  60% {
    transform:  translate(-3vmin, 0) scale(1.1, .9);
  }

  to {
    transform:  translate(0, 0) scale(1, 1);
  }
}

.entity.special {
  animation-name: specialAnimation;
  animation-direction: alternate;
  animation-timing-function: ease-out;
  animation-iteration-count: 2;
  animation-duration: 300ms;
}

@keyframes specialAnimation {
  from {
    transform: translateY(0);
  }

  20% {
    transform: translateY(0) scaleY(.9);
  }

  to {
    transform: translateY(-3vmin) scaleY(1.1);
  }
}

.entity.take-damage {
  animation-name: takeDamageAnimation;
  animation-timing-function: ease-out;
  animation-duration: 400ms;
  transform-origin: bottom;
}

@keyframes takeDamageAnimation {
  from {
    transform: rotateX(0) scale(1, 1);
  }

  30% {
    transform: rotate(-10deg) rotateX(-40deg) scale(1.1, .9);
  }

  60% {
    transform: rotate(10deg) rotateX(0) scale(0.8, 1.2);

  }

  to {
    transform: rotateX(0) scale(1, 1);
  }
}

