@use './symbol.svg.module.scss';

$rectWidth: 60%;
$rectHeight: 80%;

.rect {
  width: $rectWidth;
  height: $rectHeight;
  x: calc((100% - $rectWidth)/2);
  y: calc((100% - $rectHeight)/2);
  rx: 10%;
  ry: 10%;
}
