@value cardWidth: min(4.5vw, 4.5vh);
@value cardHeight: calc(cardWidth * 1.39);
@value cardBorderRadius: .4vw;
@value flipAnimationDuration: 200ms;

.card {
  width: cardWidth;
  height: cardHeight;
  transform-origin: center;
  transform: translateZ(0);
  transition: transform flipAnimationDuration ease-in-out;
}

.card.elevated {
  transform: translateZ(calc(cardWidth/2));
}

.rotate {
  transform: rotateY(0);
  transition: none;
}

.rotate.flippingUpToVertical {
  transform: rotateY(90deg);
  transition: transform calc(flipAnimationDuration/2) ease-in;
  transition-delay: flipAnimationDuration;
}

.rotate.flippingDownFromVertical {
  transform: rotateY(180deg);
  transition: transform calc(flipAnimationDuration/2) ease-out;
}

.scale {
  transition: none;
}

.scale.flat, .scale.flippingUpToVertical {
  transform: scaleX(1);
}

.scale.flippingDownFromVertical {
  transform: scaleX(-1);
}