@use 'components/constants.module.scss';

$flipAnimationDuration: 200ms;
$transitionAnimationDuration: 500ms;
$transitionAnimationViolentDuration: 200ms;

.card {
  width: constants.$cardWidth;
  height: constants.$cardHeight;
  transform-origin: center;
  transform: translateZ(0);
  transition: transform $flipAnimationDuration ease-in-out;
}

.card.elevated {
  transform: translateZ(calc(constants.$cardWidth/2));
}

.rotate {
  transform: rotateY(0);
  transition: none;
}

.translate {
  transition-property: transform;
  transition-timing-function: ease-out;
  transition-duration: $transitionAnimationViolentDuration;
}

.translate.gentle {
  transition-duration: $transitionAnimationDuration;
  transition-timing-function: ease-in-out;
}

.translate.violent {
  transition-timing-function: ease-in;
}

.rotate.flippingUpToVertical {
  transform: rotateY(90deg);
  transition: transform calc($flipAnimationDuration/2) ease-in;
  transition-delay: $flipAnimationDuration;
}

.rotate.flippingDownFromVertical {
  transform: rotateY(180deg);
  transition: transform calc($flipAnimationDuration/2) ease-out;
}

.scale {
  transition: none;
}

.scale.flat, .scale.flippingUpToVertical {
  transform: scaleX(1);
}

.scale.flippingDownFromVertical {
  transform: scaleX(-1);
}