@value pageWidth: 40%;
@value pageHeight: 60%;

@value bookWidth: calc(pageWidth * 2);
@value bookHeight: pageHeight;

.page {
    transform-origin: 0 0;
}

.paper {
    fill: lightgray;
    width: pageWidth;
    height: pageHeight;
}

.page.none {
    /* intentionally left empty */
}
