@value pageWidth: 50;
@value pageHeight: 80;

.page {
    transform-origin: 0 0;
}

.paper {
    fill: lightgray;
    width: pageWidth;
    height: pageHeight;
}

.page.none {
    /* intentionally left empty */
}
