@value foreground: #CCF;

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #123;
  color: foreground;
  text-align: center;
}

.container h1 {
  font-size: 4vmin;
  animation-name: animateTitle;
  animation-duration: .5s;
  animation-delay: .1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  opacity: 0;
}

@keyframes animateTitle {
  from {
    opacity: 0;
  }

  to { 
    opacity: 1;
  }
}

.icon {
  width: 100%;
  height: 30vmin;
  padding-top: 9vmin;
  box-sizing: border-box;
  stroke-width: .5vmin;
}