$healthBoxLarge: 4vmin;
$healthBoxSmall: 2vmin;

.container {
  display: flex;
  flex-direction: row;
}

.health {
  width: $healthBoxLarge;
  height: $healthBoxLarge;
  font-size: $healthBoxLarge;
  text-align: center;
  color: white;
}

.health.small {
  width: $healthBoxSmall;
  height: $healthBoxSmall;
  font-size: $healthBoxSmall;
}

.health::after {
  content: '♡';
}

.health.filled::after {
  content: '♥';
}