$unit: min(1vw, 1vh);

$cardWidth: calc($unit * 9);
$cardHeight: calc($cardWidth * 1.39);
$cardBorderRadius: calc($cardWidth * .1);


@value pageWidth: 50;
@value pageHeight: 70;

//$pageWidth: min(30vh, 30vw);
$pageWidth: calc(pageWidth * 1vh);
$pageHeight: calc(pageHeight * 1vh);

$tableTiltAngle: 55deg;
$tableTiltCorrectionAngle: -80deg;
$popupDuration: 200ms;
$popupTimingFunction: cubic-bezier(.47,1.64,.41,.8);
$popdownDuration: 150ms;
$popdownTimingFunction: ease-in;

.x {
  width: pageWidth;
}