@use 'components/constants.module.scss';

$padding: calc(2vmin);

.overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  width: 100%;
  height: 100%;
}

.status-bar {
  display: flex;
  flex: 0;
  flex-direction: row;
  padding: $padding;
  box-sizing: border-box;
  gap: 1vmin;
}

.health-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.age-symbol {
  flex: 0;
  min-width: 2vmin;
  min-height: 2vmin;
  stroke-width: 1vmin;
}

.age-container {
  flex: 0;
}

.narration {
  flex: 0;
  padding: 0 $padding;
  box-sizing: border-box;
  text-align: center;
}
