@value stroke: #FFF;
@value fill: transparent;
@value fillForce: #773;
@value fillFinesse: #393;
@value fillDamage: #933;

.container {
  font-size: 1vw;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  width: 1vw;
  height: 1vw;
  opacity: 1;
  transition: filter 1000ms ease-in-out;
}

.container.down {
  transform: scaleY(-1);
  transform-origin: center;
}

