@value stroke: #FFF;
@value fill: transparent;
@value fillForce: #773;
@value fillFinesse: #393;
@value fillDamage: #933;
@value fillMind: #449;

.container {
  font-size: 2vmin;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  width: 2vmin;
  height: 2vmin;
  opacity: 1;
}

.container.down {
  transform: scaleY(-1);
  transform-origin: center;
}

.container.unused.warning {
  animation-name: warningAnimation;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes warningAnimation {
  from {
    opacity: 1;
  }

  to {
    opacity: .5;
  }
}
