@value stroke: #FFF;
@value fill: #000;
@value fillUsed: transparent;
@value fillForce: #AA3;
@value fillFinesse: #4A4;
@value fillDamage: #A44;
@value fillMind: #55A;
@value fillMagic: #3AA;
@value fillPerception: #777;
@value fillYouth: #999;
@value fillAge: #A44;

.container {
  font-size: 2vmin;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  width: 2vmin;
  height: 2vmin;
  opacity: 1;
  stroke-width: .4vmin;
}

.container.down {
  transform: scaleY(-1);
  transform-origin: center;
}

.container.unused.warning {
  animation-name: warningAnimation;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes warningAnimation {
  from {
    opacity: 1;
  }

  to {
    opacity: .5;
  }
}
