@value tableWidth: min(120vw, 100vh);
@value tableHeight: min(100vw, 120vh);

@value pageWidth: 40%;
@value pageHeight: 60%;

@value bookWidth: pageWidth;
@value bookHeight: pageHeight;

.container {
  position: absolute;
  perspective: calc(tableWidth * 3);
  perspective-origin: 50% 50%;
  width: 100%;
  height: 100%;
}

.board {
  position: absolute;
  left: calc((100vw - tableWidth)/2);
  top: calc((100vh - tableHeight)/2);
  width: tableWidth;
  height: tableHeight;
}

.table {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: calc(tableWidth/2) tableHeight;
  transition: transform 1s ease-in-out;
}

.table.topDown {
  transform: rotateX(0deg) translateZ(calc(-1 * tableWidth));
}

.table.topDownBookCentered {
  transform: rotateX(0deg) translateX(calc(-1 *pageWidth));
}

.table.tilted {
  transform: rotateX(60deg);
}

.table-top {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: pink;
}

.book {
  position: absolute;
  top: 5%;
  left: calc((tableWidth - bookWidth)/2);
  width: bookWidth;
  height: bookHeight;
  background-color: brown;
}