@value tableWidth: min(100vw, 100vh);
@value tableHeight: min(100vw, 100vh);

@value pageWidth: 35%;
@value pageHeight: 45%;

@value bookWidth: pageWidth;
@value bookHeight: pageHeight;

@value cardSlotWidth: 80%;
@value cardSlotHeight: 20%;

.room {
  position: absolute;
  perspective: calc(tableWidth * 3);
  perspective-origin: 50% 50%;
  width: 100%;
  height: 100%;
}

.container {
  position: absolute;
  left: calc((100vw - tableWidth)/2);
  top: calc((100vh - tableHeight)/2);
  width: tableWidth;
  height: tableHeight;
}

.table {
  background-color: green;
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: calc(tableWidth/2) tableHeight;
  transition: transform 1s ease-in-out;
}

.table.topDown {
  transform:
      rotateX(0deg)
      translateZ(calc(-1 * tableWidth));
}

.table.topDownBookCentered {
  // TODO this math is wrong to centre the book
  transform:
      rotateX(0deg)
      translate(calc(-1 * (tableWidth / 4) + bookWidth / 2), calc(tableHeight / 4));
}

.table.tilted {
  transform: rotateX(60deg);
}

.book-slot {
  position: absolute;
  top: 5%;
  left: 50%;
  width: bookWidth;
  height: bookHeight;
  background-color: brown;
}

.card-slot {
  position: absolute;
  top: 70%;
  left: 10%;
  width: cardSlotWidth;
  height: cardSlotHeight;
  background-color: brown;

}