@use './symbol.module.scss';

$rectWidth: 60%;
$rectHeight: 60%;

.rect {
  width: $rectWidth;
  height: $rectHeight;
  x: calc((100% - $rectWidth)/2);
  y: calc((100% - $rectHeight)/2);
  stroke-width: symbol.$strokeWidth;
  transform: rotate(45deg);
  transform-origin: center;
}
