@use 'components/constants.module.scss';

$bookDepth: calc(constants.$unit * 6);
$pageGap: calc(constants.$unit/2);
$pageColor1: grey;
$pageColor2: whitesmoke;
$pageColorSpine: gainsboro;
$pageTurnAnimationDuration: 500ms;

.container {
  //display: flex;
  position: absolute;
  // align-items: center;
  // justify-content: center;
  width: 100%;
  height: 100%;
}

.book {
  position: absolute;
  width: 100%;
  height: 100%;
}

.spread {
  width: 200%;
  margin-left: -100%;
  height: 100%; 
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, $pageColorSpine, $pageColor2 5%);
}

.spine {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: left;
  transform: translateZ($bookDepth) rotateY(0deg);
}

.spine.open {
  transform: translateZ($bookDepth) rotateY(-180deg);
  transition: $pageTurnAnimationDuration;
  transition-timing-function: ease-in;
}

.spine.open .book-half-bottom {
  transform: scaleZ(-1) scaleX(-1);
}

.book-half {
  position: absolute;
  width: constants.$pageWidth;
  height: constants.$pageHeight;
}

.book-half-bottom {
  position: absolute;
  width: 100%;
  height: 100%;
}

.book-half-top {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateZ($bookDepth);
}

.book-half-front {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $bookDepth;
  background:
    linear-gradient(to right, $pageColorSpine, transparent 10%),
    repeating-linear-gradient(to bottom, $pageColor1, $pageColor2 $pageGap)
    ;
  transform: rotateX(-90deg);
  transform-origin: bottom;
}

.spine .book-half-front {
  background:
      linear-gradient(to right, $pageColorSpine, transparent 10%),
      repeating-linear-gradient(to top, $pageColor1, $pageColor2 $pageGap)
      ;
}

.book-half-left {
  position: absolute;
  left: 0;
  width: $bookDepth;
  height: 100%;
  background: repeating-linear-gradient(to right, $pageColor1, $pageColor2 $pageGap);
  transform: rotateY(-90deg);
  transform-origin: left;
}

.book-half-right {
  position: absolute;
  right: 0;
  width: $bookDepth;
  height: 100%;
  background: repeating-linear-gradient(to left, $pageColor1, $pageColor2 $pageGap);
  transform: rotateY(90deg);
  transform-origin: right;
}

.turn-page {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateZ(calc($bookDepth * 1.01));
}

.turn-page-flip {
  position: absolute;
  width: 100%;
  height: 100%;
}

.turn-page-flip.rtl.down, .turn-page-flip.ltr.up {
  transform-origin: center;
  transform: scaleX(-1);
}

.turn-page-rotate {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: left;
  animation-duration: calc($pageTurnAnimationDuration/2);
  animation-fill-mode: forwards;
}

.turn-page-rotate.ltr.up {
  animation-name: ltrup;
  animation-timing-function: ease-in;
}

@keyframes ltrup {
  from {
    transform: rotateY(-180deg);
  }
  to {
    transform: rotateY(-90deg)
  }
}

.turn-page-rotate.ltr.down {
  animation-name: ltrdown;
  animation-timing-function: ease-out;  
}

@keyframes ltrdown {
  from {
    transform: rotateY(-90deg);
  }
  to {
    transform: rotateY(0deg)
  }
}

.turn-page-rotate.rtl.up {
  animation-name: rtlup;
  animation-timing-function: ease-in;  
}

@keyframes rtlup {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-90deg)
  }
}

.turn-page-rotate.rtl.down {
  animation-name: rtldown;
  animation-timing-function: ease-out;
}

@keyframes rtldown {
  from {
    transform: rotateY(-90deg);
  }
  to {
    transform: rotateY(-180deg)
  }
}
