.cutout {
  animation-name: popup;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  transform-style: preserve-3d;
  transform-origin: bottom;
}

@keyframes popup {
  from {
    transform: rotateX(0deg);
  }

  to {
    transform: rotateX(-90deg);
  }
}