.cutout {
  animation-name: popup;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transform-style: preserve-3d;
  transform-origin: bottom;
}

@keyframes popup {
  from {
    transform: rotateX(0deg) scaleY(.8);
  }

  80% {
    transform: rotateX(-90deg) scaleY(1.1);
  }

  90% {
    transform: rotateX(-70deg) scaleY(1);
  }

  to {
    transform: rotateX(-80deg) scaleY(1);    
  }
}